<h1>Login</h1>

<%= link_to "Register new user", new_register_path, method: :get %>

<div>
	<%= form_with url: "login", method: 'post' do |f| %>
	  <%= f.text_field :email, placeholder: 'Enter email' %>
	  <%= f.password_field :password, placeholder: 'Enter password'  %>
	  <%= f.submit 'Login' %>
	<% end %>
</div>

