<!DOCTYPE html>
<html>
  <head>
    <title>ChatApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!-- TODO make as shared libs -->
    <% if session[:current_user_id].present? %>
      <%= button_to "Log out", logout_path %>
    <% end %>

    <% flash.each do |type, message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
